django>=4.2
django-ninja>=1.0
django-ninja-extra>=0.20.0
langgraph
vanna[openai,chromadb]
chromadb
openai
pandas
openpyxl
pytest
pytest-django
deepeval
python-dotenv
pypdf
langchain
langchain-community
langchain-openai
langchain-chroma
psycopg2-binary
gunicorn
tavily-python
